<html>
    <title>
        <%=title %>
    </title>
    <body>
        <h1>It's my first reder through ejx</h1>

        <ul>
            <% for(let i=1 ; i<6; i++) { %>
                <li>
                    <%=i %>
                </li>
                <% } %>
        </ul>
    </body>
</html>